@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 0, 0%, 100%;
      --foreground: 220, 15%, 20%;

      --card: 210, 40%, 98%;
      --card-foreground: 220, 15%, 20%;

      --popover: 0, 0%, 100%;
      --popover-foreground: 220, 15%, 20%;

      --primary: 210, 100%, 60%;
      --primary-darker: 210, 90%, 40%;
      --primary-foreground: 220, 20%, 99%;

      --secondary: 210, 40%, 90%;
      --secondary-foreground: 220, 20%, 30%;

      --muted: 210, 40%, 90%;
      --muted-foreground: 220, 10%, 40%;

      --accent: 210, 40%, 90%;
      --accent-foreground: 220, 15%, 20%;

      --destructive: 350, 75%, 60%;
      --destructive-foreground: 0, 0%, 100%;

      --border: 210, 40%, 85%;
      --input: 210, 40%, 85%;
      --ring: 210, 100%, 60%;
      --star: 200, 80%, 70%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0, 0%, 10%;
      --foreground: 220, 20%, 96%;

      --card: 210, 30%, 15%;
      --card-foreground: 220, 20%, 96%;

      --popover: 0, 0%, 10%;
      --popover-foreground: 220, 20%, 96%;

      --primary: 210, 100%, 70%;
      --primary-darker: 210, 60%, 45%;
      --primary-foreground: 220, 20%, 10%;

      --secondary: 210, 30%, 25%;
      --secondary-foreground: 220, 20%, 96%;

      --muted: 210, 30%, 20%;
      --muted-foreground: 220, 15%, 60%;

      --accent: 210, 30%, 25%;
      --accent-foreground: 220, 20%, 96%;

      --destructive: 350, 50%, 40%;
      --destructive-foreground: 0, 0%, 100%;

      --border: 210, 20%, 30%;
      --input: 210, 20%, 30%;
      --ring: 210, 100%, 60%;
      --star: 200, 80%, 70%;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply mb-4 text-4xl font-bold;
  }

  h2 {
    @apply mb-2 text-3xl font-bold;
  }

  h3 {
    @apply mb-2 text-2xl font-bold;
  }

  p {
    @apply mb-4;
  }

  ol {
    @apply mb-2 list-inside list-decimal;
  }

  li {
    @apply mb-2 list-inside list-disc;
  }

  :not(pre) > code {
    @apply rounded bg-secondary px-1 font-normal text-secondary-foreground;
  }
}
